
<nav class="navbar navbar-expand-lg bg-light "style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-responsive" src="assets/image/logo.jpeg" alt="" width="100" height="100" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="/image/1">Mur Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/image/2">Porte Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/image/3">Mur et Porte Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin-prestation">Prestation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/devis">Devis List</a>
        </li>
      </ul>
    </div>
      <div class="fixed-top d-flex justify-content-end p-2">
        <button class="btn btn-danger" *ngIf="currentUser.user" (click)="logout()">Logout</button>
        <a class="btn btn-primary" routerLink="/connect" *ngIf="!currentUser.user">Login</a>
    </div>
  </div>
</nav>
