

  <footer class="text-center text-lg-start bg-light text-muted">
    
    
    
    <section class="">
    <div class="container text-center text-md-start mt-5">
    
      <div class="row mt-3">
    
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
    
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <h1>WaZO Peintre</h1>
         
        </div>
        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Spécialité
          </h6>
          <p>
            Peinture à l'intérieur et l'extérieur 
            Pose papier peint et toile de verre 
            Décoration, Revetements Murs-Sols
          </p>
        </div>
      
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> 309 Cours Emile Zola 69100 Villeurbanne</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            abdul.wadood69100@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +33 7 58 14 64 14</p>
        </div>
      </div>
    </div>
  </section>
 

</footer>

