<div class="container ">
  <div class="row">
   
    <div class="col-8">
      <div class="" style="width: 50rem;" *ngFor="let item of devis">
        <div class="body">
          <h1 class="title">{{item.name}}</h1>
          <p class="text">{{item.prix}} £</p>
          <p class="prix">{{item.surface}}</p>
          <button class="btn btn-danger" *ngIf="currentUser.user" (click)="delete(item.id!)">Supprimer</button>
    <button class="btn btn-info" *ngIf="currentUser.user" (click)="showForm(item)">Modifier</button>
        </div>
      </div>
    </div>
    
  </div>

  <div *ngIf="displayEditForm">
    <h4 *ngIf="currentUser.user">Modification des devis</h4>
    <form *ngIf="currentUser.user" (ngSubmit)="update(modifieddevis)">
      
      <input type="text" id="name" name="name" [(ngModel)]="modifieddevis.name"><br>
      <input type="text" id="prix" name="prix"  [(ngModel)]="modifieddevis.prix"><br>
      <input type="text" id="surface" name="surface"  [(ngModel)]="modifieddevis.surface">
      <button type="submit" class="btn btn-danger">Modifier</button>
    </form>
  </div>

  <br>

  <div class="container ">


    <h2 *ngIf="currentUser.user">Créer un nouvel Devis : </h2>
    <form *ngIf="currentUser.user" (ngSubmit)="createDevis()">
      <label for="name">Name</label><br>
      <input type="text" name="Name" id="Name" [(ngModel)]="devisToCreate.name"><br>

      <label for="text">Prix</label><br>
      <input type="prix" name="prix" id="prix" [(ngModel)]="devisToCreate.prix"><br>

      <label for="surface">Surface par metre</label><br>
      <input type="surface" name="surface" id="surface" [(ngModel)]="devisToCreate.surface"><br>
      <input type="submit" value="Valider">

    </form>

  </div>