<div class="container text-center">
  <div class="row justify-content-center">
      <div class="col-8 col-md-6" *ngFor="let item of image">
        <img src="http://localhost:8080/upload/{{item.url}}" class="mb-3 w-75 mix-auto mt-5" alt="" width="auto" height="50%">
        <div class="body">
          <h1 class="title">{{item.name}}</h1>
          <p class="text">{{item.description}}</p>
        </div>
      </div>
    </div>
</div>