<ul class="list-group" *ngFor="let item of prestations">
    <li class="list-group-item">
    <a routerLink="/image/{{item.id}}"><h6>{{item.name}}</h6></a>
    <button class="btn btn-danger" (click)="delete(item.id!)" *ngIf="currentUser.user">Supprimer</button>
    <button class="btn btn-info" *ngIf="currentUser.user" (click)="showForm(item)">Modifier</button>
    </li>
  </ul>
  <div *ngIf="displayEditForm">
    <h4>Modification des Prestations</h4>
    <form (ngSubmit)="update(modifiedprestation)">
      
      <input type="text" id="name" name="name" [(ngModel)]="modifiedprestation.name"><br>
      <input type="text" id="description" description="description"[(ngModel)]="modifiedprestation.description"><br>
      <input type="url" id="image" image="image"  [(ngModel)]="modifiedprestation.image"><br>
      <input type="prix" id="prix" prix="prix"  [(ngModel)]="modifiedprestation.prix"><br>
      <button type="submit" class="btn btn-danger" *ngIf="currentUser.user">Modifier</button>
    </form>
  </div>
 <hr>
  <h5 *ngIf="currentUser.user">Creation d'une nouvelle Prestations :</h5>
  <form *ngIf="currentUser.user" (ngSubmit)="createPrestationByName()">
    <label for="name"> Prestation:</label><br/>
    <input type="text" id="name" name="name" [(ngModel)]="prestation.name"><br>
    <input type="text" id="description" name="description"[(ngModel)]="prestation.description"><br>
    <input type="url" id="image" name="image"  [(ngModel)]="prestation.image"><br>
    <input type="prix" id="prix" name="prix"  [(ngModel)]="prestation.prix"><br>
    <button class="btn btn-primary" type="submit" id="validate" *ngIf="currentUser.user">Créer</button>
  </form>
