
<div class="container-text-center">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of image">
      <div class="wrapper">
        <img src="http://localhost:8080/upload/{{image.url}}" alt="Random first slide"  class="mb-3 w-55 mix-auto mt-5" alt="" width="100%" height="50%">
      </div>
    </ng-template>
  </ngb-carousel>
    </div>

    <div class="col-2">
    </div>
       
  </div>
  <hr>

<div class="container text-center">
  <div class="row justify-content-center">
      <div class="col-8 col-md-6" *ngFor="let item of prestations">
        <img src="http://localhost:8080/upload/{{item.image}}" class="mb-3 w-75 mix-auto mt-5" alt="" width="auto" height="50%">
        <div class="body">
          <h1 class="title">{{item.name}}</h1>
          <p class="text">{{item.description}}</p>
          <p class="prix">{{item.prix}} £</p>
        </div>
      </div>
  </div>
</div>



 
