
<div class="mx-auto w-75 mt-5">
  <div class="card">
      <div class="card-header">
          <h4 class="card-title">Création de compte : </h4>
      </div>
      <div class="card-body">
          <form (ngSubmit)="register()">
              <p class="text-danger" *ngIf="hasError">Identifiants invalides</p>
              <div class="mb-3">
                <label for="first_name" class="form-label">First Name :</label>
                <input name="first_name" [(ngModel)]="account.firstName" type="first_name" class="form-control" id="first_name">
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Last Name :</label>
                <input name="last_name" [(ngModel)]="account.lastName" type="last_name" class="form-control" id="last_name">
            </div>
              <div class="mb-3">
                  <label for="email" class="form-label">Adresse mail :</label>
                  <input name="email" [(ngModel)]="account.email" type="email" class="form-control" id="email">
              </div>
              <div class="mb-3">
                  <label for="password" class="form-label">mot de passe :</label>
                  <input name="password" [(ngModel)]="account.password" type="password" class="form-control" id="password">
              </div>
              <div class="mb-3">
                  <label for="passwordRepeat" class="form-label">Repetez votre mot de passe :</label>
                  <input name="passwordRepeat" [(ngModel)]="passwordRepeat" type="password" class="form-control" id="passwordRepeat">
                  <p class="text-danger" *ngIf="account.password !== passwordRepeat">Les mots de passes ne concordent pas</p>

              </div>
              <div class="mb-3">
                <label for="role" class="form-label">Role :</label>
                <input name="role" [(ngModel)]="account.role" type="role" class="form-control" id="role">
            </div>
              <button type="submit" class="btn btn-primary" [disabled]="account.password !== passwordRepeat">Valider</button>
          </form>
          <a routerLink="/connect" class="card-link">Déja un compte ? connectez vous !</a>
      </div>

  </div>
</div>

